
.btn-link{
    font-size: 1.35em;
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background-color: #d43c61;
    /*-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;*/
    /*-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;*/
    /*-o-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;*/
    /*-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;*/
    /*transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;*/
    /*background-color: #3cadd4;*/
    border-radius: 30px;
    border: 0;
    color: #ffffff !important;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    height: 2.85em;
    line-height: 2.95em;
    padding: 0 2em;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
  }
  